/public/wp-content/languages/**
/public/wp-content/plugins/**
/public/wp-content/upgrade/**

/public/wp-content/themes/twentynineteen/**
/public/wp-content/themes/twentyseventeen/**
/public/wp-content/themes/twentysixteen/**
/public/wp-content/themes/twentytwenty/**
/public/wp-content/themes/twentytwentyone/**