//- ================================
//- 設定ファイル
//- ================================
-
  //- グローバルナビゲーションン
  const items = [
    {
      name: 'Home',
      path: ROOT_PATH
    },
    {
      name: 'About',
      path: ROOT_PATH + 'about/'
    },
    {
      name: 'Service',
      path: ROOT_PATH + 'service/'
    },
    {
      name: 'Contact',
      path: ROOT_PATH + 'contact/'
    }
  ];