extends ./pug/layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================


block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================


block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  .p-hero
    .l-container
      p.p-hero__title Vite Study
      img(src="/assets/images/javascript.svg", alt="")

  section.l-spacer
    .l-container
      h2.c-heading The First Section

block script